.fb-design-mode {
  border: 1px;
}
.fb-design-area {
  height: 100%;
}
.fb-delete-comp-btn {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.fb-drag-drop-indication {
  background-color: bisque;
  height: auto;
  width: auto;
}
.fb-editor {
  width: fit-content;
}
.fb-selected-comp {
  border: dotted thin;
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th,
table.table-fit tbody td,
table.table-fit tfoot th,
table.table-fit tfoot td {
  width: auto !important;
}
.fb-json-holder {
  height: 100%;
}

.fb-accordian-button {
  height: 18px;
}

.fb-editor-property {
  height: 28px;
}

.fb-editor-property-btn {
  height: 28px;
  width: 28px;
}
