.fb-selected-comp {
    border: dotted thin;
    z-index: -1;
}
.fb-design-area{
    height: 100%;
    background-color:whitesmoke
}
.fb-delete-comp-btn {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }