.fb-design-mode {
  border: 1px;
}
.fb-design-area {
  height: 100%;
}
.fb-delete-comp-btn {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.fb-drag-drop-indication {
  background-color: bisque;
  height: auto;
  width: auto;
}
.fb-editor {
  width: fit-content;
}
.fb-selected-comp {
  border: dotted thin;
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th,
table.table-fit tbody td,
table.table-fit tfoot th,
table.table-fit tfoot td {
  width: auto !important;
}
.fb-json-holder {
  height: 100%;
}

.fb-accordian-button {
  height: 24px;
  padding: 2px;
}

.fb-editor-property {
  height: 28px;
}

.fb-editor-property-check {
  height: 1.5em;
  width: 1.5em;
}

.fb-editor-property-btn {
  height: 20px;
  width: 20px;
}
.fb-form-body {
  height: 100%;
}
.fb-form-checkbox {
  height: 1.5em;
  width: 1.5em;
}
