.qf-design-mode {
  border: 1px;
}
.qf-design-area {
  height: 100%;
}
.qf-delete-comp-btn {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.qf-drag-drop-indication {
  background-color: bisque;
  height: auto;
  width: auto;
}
.qf-editor {
  width: auto !important;
}
.qf-selected-comp {
  border: dotted thin;
}

table.table-fit {
  table-layout: auto !important;
}

.qf-json-holder {
  height: 100%;
}

.qf-accordian-button {
  height: 24px;
  padding: 2px;
}

.qf-editor-input {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.qf-editor-label {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.qf-editor-check {
  border: 1;
  border-radius: 0;
  border-color: gray;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  margin: 0;
}

.qf-editor-btn {
  border: 0;
  border-radius: 1;
  height: 2em;
  width: 2em;
  padding: 0;
  margin: 0;
}

.qf-editor-td-label {
  padding: 0;
  margin: 0;
}

.qf-editor-td-edit {
  padding: 0;
  margin: 0;
  align-items: center;
}

.qf-form-body {
  height: 100%;
}
.qf-comp-bar {
  padding: 0;
}
.qf-builder {
  padding: 2px;
}
.qf-form-checkbox {
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  margin: 0px 0.5em 0 0;
}

.qf-form-area {
  padding: 0;
}
.qf-property-bar {
  padding: 0;
  margin: 0;
}
.qf-accordian-button {
  background-color: lightgrey;
  height: 28px;
}

.qf-accordian-button:focus {
  outline: none;
  box-shadow: none;
}

.qf-editor-input:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:after {
  order: -1;
  margin-left: 0;
  margin-right: 0.5em;
}

.qf-groupbox-legend {
  all: revert;
}
.script-editor {
  border: 1;
}
.script-editor-status {
  height: 150px;
  border: 1;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

table.table-fit thead th,
table.table-fit tbody td,
table.table-fit tfoot th,
table.table-fit tfoot td {
  width: fit-content !important;
}

table.qf-table tr td {
  padding: 0px !important;
}

.qf-table-control {
  border: 0px !important;
}
.qf-table-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.qf-table-cell {
  text-align: center;
}
